* {
    font-family: "CodeNewRoman Nerd Font Propo";
    font-size: 13px;
}

window#waybar {
    all: unset;
}

.modules-left {
    padding: 5px;
    margin: 4px 0px 4px 10px;
    border-radius: 10px;
    background: alpha(green, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
    padding: 5px;
    margin: 4px 0px 4px 0px;
    border-radius: 10px;
    background: alpha(green, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
    padding: 5px;
    margin: 4px 10px 4px 0px;
    border-radius: 10px;
    background: alpha(green, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(white, .4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: white;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: white;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#tray {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}

#clock,
#network,
#battery,
#pulseaudio,
#cpu,
#memory,
#temperature,
#group-expand {
    padding: 0px 5px;
    transition: all .3s ease;
}

#custom-expand {
   padding: 0px 5px;
   text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
   transition: all .3s ease;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, .2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#clock:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all .3s ease;
}

